<div class="posts_index">

  <% if user_signed_in? %>
  <h2>Hello,
    <%= current_user.username %></h2>
    <%= link_to "New Entry", posts_new_path, class: 'btn right' %>
  <% end %>
  <br>
  <br>
  <hr>


</div>
<div class="post-section">

  <% @posts.each do |post| %>

  <h3><%= post.title %></h3>

  <h4><%= post.content %></h4>
  <h5>Posted
    <%= time_ago_in_words (post.created_at) %></h5>

  <hr>
</div>
<%end%>
